.form-select {
    width: auto !important;
}

.small.btn {
    gap: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.05em 0.5em;
    padding-left: 0.25em;
}